USE [VShuttle]
GO
/****** Object:  User [D2HS\GANESHSHRESTHA$]    Script Date: 8/23/2017 6:47:11 PM ******/
CREATE USER [D2HS\GANESHSHRESTHA$] FOR LOGIN [D2HS\GANESHSHRESTHA$] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [D2HS\i80405]    Script Date: 8/23/2017 6:47:11 PM ******/
CREATE USER [D2HS\i80405] FOR LOGIN [D2HS\i80405] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\NETWORK]    Script Date: 8/23/2017 6:47:11 PM ******/
CREATE USER [NT AUTHORITY\NETWORK] FOR LOGIN [NT AUTHORITY\NETWORK]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 8/23/2017 6:47:11 PM ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 8/23/2017 6:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 8/23/2017 6:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 8/23/2017 6:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteLocations] [nvarchar](100) NULL,
 CONSTRAINT [PK_Routes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfoes]    Script Date: 8/23/2017 6:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[INumber] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SubLocation] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[Latitude] [nvarchar](max) NULL,
	[Longitude] [nvarchar](max) NULL,
	[RouteId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserInfoes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/23/2017 6:47:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[INumber] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[UserRole] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([Id], [Location]) VALUES (1, N'Route Bhaktapur')
INSERT [dbo].[Locations] ([Id], [Location]) VALUES (12, N'Route Kalanki')
INSERT [dbo].[Locations] ([Id], [Location]) VALUES (13, N'Route Chabahil')
SET IDENTITY_INSERT [dbo].[Locations] OFF
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([Id], [RouteLocations]) VALUES (1, N'Route Bhaktapur')
INSERT [dbo].[Routes] ([Id], [RouteLocations]) VALUES (2, N'Route Kalanki')
INSERT [dbo].[Routes] ([Id], [RouteLocations]) VALUES (3, N'Route Chabahil')
SET IDENTITY_INSERT [dbo].[Routes] OFF
SET IDENTITY_INSERT [dbo].[UserInfoes] ON 

INSERT [dbo].[UserInfoes] ([Id], [INumber], [Name], [SubLocation], [Date], [Latitude], [Longitude], [RouteId]) VALUES (132, N'i80405', N'Ganesh Shrestha', N'MachhaPokhari', CAST(N'2017-07-27T00:00:00.000' AS DateTime), N'27.693156594831198', N'85.32757848501205', 1)
INSERT [dbo].[UserInfoes] ([Id], [INumber], [Name], [SubLocation], [Date], [Latitude], [Longitude], [RouteId]) VALUES (133, N'i80621', N'Binod Adhikary', N'Anamnagar', CAST(N'2017-08-23T00:00:00.000' AS DateTime), N'27.699388311104332', N'85.32867282629013', 1)
INSERT [dbo].[UserInfoes] ([Id], [INumber], [Name], [SubLocation], [Date], [Latitude], [Longitude], [RouteId]) VALUES (135, N'i80621', N'Binod Adhikary', N'New Plaza', CAST(N'2017-07-27T00:00:00.000' AS DateTime), N'27.700665958978043', N'85.32367318868637', 2)
SET IDENTITY_INSERT [dbo].[UserInfoes] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [INumber], [UserName], [Password], [UserRole]) VALUES (1, N'1', N'admin', N'admin', 1)
INSERT [dbo].[Users] ([Id], [INumber], [UserName], [Password], [UserRole]) VALUES (2, N'i10244', N'suman', N'suman', 2)
INSERT [dbo].[Users] ([Id], [INumber], [UserName], [Password], [UserRole]) VALUES (3, N'i10245', N'sum1', N'sum1', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[UserInfoes] ADD  DEFAULT ((0)) FOR [RouteId]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Locations] FOREIGN KEY([Id])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Locations]
GO
ALTER TABLE [dbo].[UserInfoes]  WITH CHECK ADD  CONSTRAINT [FK_UserInfoes_UserInfoes] FOREIGN KEY([RouteId])
REFERENCES [dbo].[Routes] ([Id])
GO
ALTER TABLE [dbo].[UserInfoes] CHECK CONSTRAINT [FK_UserInfoes_UserInfoes]
GO
