@model VShuttle.Model.Locations
@{
   
    Layout =null;
}

    @using (Html.BeginForm("Edit","Admin",FormMethod.Post))
    {
        <div class="main-form">

            @Html.HiddenFor(m => m.Id)

            <div class="col-md-12">              
                @Html.TextBoxFor(m=>m.Location, new { placeholder="Enter Location" })
            </div>

            <div class="col-md-6">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>

            <div class="col-md-6">
                <button class="btn btn-danger" onclick="closeDialog(this)" type="button">Cancel</button>
            </div>

        </div>
    }

