@if (Session["Status"] != null)
{
    if (Convert.ToString(Session["Status"]) == "Failed")
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type='button' class='close' data-dismiss='alert' aria-label=''><span aria-hidden='true' style='color: red;'> x </span></button>
            <span style="display: inline-block; position: relative; top: 0px;"><img src="~/Content/Image/error.png" /></span>
            <span>@Convert.ToString(Session["Message"])</span>
        </div>
    }
    else
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type='button' class='close' data-dismiss='alert' aria-label=''><span aria-hidden='true' style='color:green;'> x </span></button>
            <span style="display: inline-block; position: relative; top: 0px;"><img src="~/Content/Image/success.png" /></span>
            <span style="display: inline-block">@Convert.ToString(Session["Message"])</span>
        </div>

    }

    Session["Status"] = null;
    Session["Message"] = null;
}

