@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Bubbler+One);



/*seacrh*/

.search{
    margin-bottom:2px;
}

.search button{
    border-radius:0px;
    width:60px;
    font-size:11px;
    background-color:rebeccapurple;
    color:white;
    border:none;
    height:26px;
    font-family:"Roboto", sans-serif;
}

.search input{
   padding:1px;
}



/* Route */

.route-form input{
    border-radius:0px;
    border-color:#d0c1c1;
    width:100%;
}

.route-info{
    color:#92247a!important;
    margin-bottom:10px;
    font-family: "Roboto", sans-serif;
    font-size:25px;
}

.route div{
    background: rgba(61, 4, 68, 0.76);
    color:white;
    font-family: "Roboto", sans-serif;
    min-height:100px;
    margin-bottom:5px;
    padding:10px;
}

.navbar-default {
    background-color: #381d50;
    border-color: #381d50;
    
}

.route-header{
    display:block;
    border-bottom:1px solid yellow;
    margin-bottom:10px;
    padding-bottom:4px;
}


hr{
    border-top: 1px solid #ddd2e0;
}

.navbar-default .navbar-brand {
    color:#ca19ca;
    font-family: 'Bubbler One', sans-serif;
    font-size:35px;
    padding:25px 90px;
}

.navbar-default .nav-link{
    color:#ca19ca;
    font-family: 'Bubbler One', sans-serif;
    font-size:35px;
    padding:25px 90px;
}

.headerlogin{
    font-size:20px !important;
}

/*navbar*/

.right-header i {
    padding: 25px 0px !important;
}


body {
  background-color:#715570;

}

.container{
    background-color:whitesmoke;
    padding-top: 40px;
    min-height:600px;
    padding-bottom:30px;
}

.navbar {
  margin-bottom:0px;
}

/* Table */

.btn {
  border-radius:0px;
}

#UserInfoTotal tr td {
    padding: 8px !important;
  }

table tr td, table th {
    vertical-align: middle !important;
    padding: 3px !important;
    font-size: 15px;
    text-align:center;
    font-family: "Roboto", sans-serif;
    color:black;
}

table th{
    padding:10px !important;
}

table .btn{

    border-radius:0px;
    padding:4px;
    font-size:13px;
    text-align:center;
}

/*Admin*/

.main-form {
  padding: 12px 0px;
  font-family:"Roboto", sans-serif;
}

.main-form input {
    width:100% !important;
    padding:4px !important;
    margin-bottom:15px !important;
    font-size:12px !important;
}

.main-form select {
    width:100% !important;
    padding:4px !important;
    margin-bottom:15px !important;
    font-size:12px !important;
}

.add-route{
    margin-bottom:10px;
}

.add-route button{
   width:154px;
   font-family:"Roboto", sans-serif;
   
}

.add-route input{
    padding:5px;
}
   
.main-form button {
    border-radius:0px;
    width:100%;
}



/* Login */

.error-msg{
    color:#92247a!important;
    margin-bottom:10px;
    
}



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #715570;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input,textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8c29a5;;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

 .info {
  margin: 50px auto;
  text-align: center;
}
 .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
 .info span {
  color: #4d4d4d;
  font-size: 12px;
}
 .info span a {
  color: #000000;
  text-decoration: none;
}
 .info span .fa {
  color: #EF3B3A;
}
.body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #4f714f, #b089b1);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}

/* End Login */


/*custom css*/

    .navbar {
        border-radius: 0px;
    }

    #registerUser input, #registerUser button, #registerUser select {
        margin-bottom: 5px;
        padding: 7px;
        width: 230px;
    }

    #registerUser select {
        padding:10px;
    }

    #registerUser button{
        font-size:17px;
    }


    table, th, td {
        border: 1px solid black;
    }

.form-element > button {
  
}
#report {
  padding-top:18px;
}

/* AjaxGrid */

table button {
  width: 50px;
} 

.dl-horizontal dt {
    white-space: normal;
}

