@model VShuttle.Model.Users
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-page">
    <div class="form">
   
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "login-form" }))
        {
           <div class="error-msg">@ViewData["error"]</div>           
           @Html.TextBoxFor(m => m.INumber, new { placeholder = "iNumber" , @required="required" })
           @Html.PasswordFor(m => m.Password, new { placeholder = "password", @required = "required" })        

           <button type="submit">Login</button>                  

        }

    </div>
</div>

